.cursor {
    width: 8px;
    height: 8px;
    background-color: var(--brand-on-background-strong);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
}

.cursorRing {
    width: 24px;
    height: 24px;
    border: 2px solid var(--brand-on-background-medium);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
}